In [4]:
import pandas as pd

In [5]:
people={'first_name':['Ebrahim','Ali','Mohamed'],'Last_name':['Emad','Ahmed','Saeed'],'Email':['ebemad8@gmail.com','ali7@gmail.com','mo5@gmail.com']}

In [6]:
df=pd.DataFrame(people)

In [7]:
df

  first_name Last_name              Email
0    Ebrahim      Emad  ebemad8@gmail.com
1        Ali     Ahmed     ali7@gmail.com
2    Mohamed     Saeed      mo5@gmail.com